# Copy this file to .env and change the secrets below.
# .env will be ignored by .gitignore. Please don't check secrets into the repository!

# Secrets (fill in locally)
# We suggest generating passwords using the command `openssl rand -base64 32`
POSTGRES_DB=*************
POSTGRES_PORT=0000

POSTGRES_USER=********
POSTGRES_PASSWORD=*********************

POSTGRES_DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}

POSTGRES_USER2=********
POSTGRES_PASSWORD2=*********************



S3_PORT=0000
S3_ENDPOINT=http://objectstore:${S3_PORT}
S3_BUCKET=***************

RUSTFS_CONSOLE_PORT=0000

# These are the credentials for the RustFS admin console, which can be accessed at
# http://localhost:{$RUSTFS_CONSOLE_PORT}
# Please change them before running RustFS for the first time!
RUSTFS_ACCESS_KEY="********************" #generated using openssl rand -base64 20 | clipcopy
RUSTFS_SECRET_KEY="********************************" #generated using openssl rand -base64 32 | clipcopy   

API_PORT=0000